@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-size: 14px;
	background-color: #fff;
	
}

header{
	background-color: #fff;
	padding: 20px 0;
	
}


#slider-1 img{
	max-height: 800px;
}

#slider-1 h1{
	padding-top:250px;
	
}

#servicios {
	padding: 150px 0;
	background-color: #000;
}

#servicios h1{
	padding: 60px 0;
	text-align: center;
	color: #fff;
}

#servicios .fas{
	font-size: 50px;
	text-align: center;
	margin-bottom: 15px;
	color: #fff;
	
}
#servicios .fa-palette {
	color:#FF8B26
}

#servicios .fa-camera{
	color:#3DE3FF;
}

#servicios .fa-laptop{
	color:#3DFF83;
}

#servicios .fa-video{
	color:#873DFF;
}

#servicios h3{
	text-align: center;
	color: #fff;
	
}


#aboutme {
	padding: 55px 0;
	
}

#aboutme h1{
	padding-top: 195px;
}

#aboutme h1::after{
	content: '';
	height: 3px;
	background-color: #7ECCFF;
	width: 110px;
	display: block;
	margin-top:  10px;
}


#aboutme p{
	font-size: 20px;
	text-align: justify;
}

#logos {
	padding: 60px 0;
}

#contacto{
	background-color: #000;
	padding: 60px 0;
}

#contacto h3 {
	color: #fff;
	font-size: 25px;
}

#contacto p{
	color: #fff;
	font-size: 16px;
}


#contacto a{
	color: #fff;
}

#contacto a:hover{
	color: #777;
}

#copyright p{
	font-size: 15px;
	padding: 20px 0;
}


.ocultar {
	display: none;
}

.btn-rectangulo {
	background-color: #000000;
	border:1px solid #fff;
	color: #fff;
	border-radius: 0;
	padding: 10px 30px;
	text-transform: lowercase;
	font-weight: 600;
		
}

.btn-rectangulo:hover {
	background-color: #777;
	border:1px solid #fff;
	color: #fff;
}



/*Tablet*/
@media (min-width: 480px) and (max-width:1024px) {
	
	.slider-1 h1{
		font-size: 20px;
	}
}



/*Celular*/

@media (max-width:480px){
	.slider-1 h1{
		font-size: 20px;
	}
	
}


